.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  color: white;
}

body{
  background-color: #88c7dc;
}

nav{
  padding: 5px;
  border-top: solid;
  border-bottom: solid;
  color: white;
}

a{
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

a:link, a:visited {
  background-color: #7ecfd4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-color: #3c89d0;
  border: solid;
}

a:hover, a:active {
  background-color: #3c89d0;
}

footer{
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: solid;
  border-color: white;
  color: white;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  font-size: 16px;
  border-radius: 8px;
}

form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}